@font-face {
    font-family: 'yorha-loader-font';
    src: url(~/assets/fonts/FOT-AnticCezannePro-DB-2.otf);
}

:root {
    --yorha-text-color: #454138;
    --yorha-inverted-text-color: #dcd8c0;

    --yorha-button-bg-normal: #bab5a1;
    --yorha-button-bg-hover: #454138;
    --yorha-button-bg-normal: #bab5a1;
}

.layout.theme-yorha {
    @apply font-yorha-loader;
    color: var(--yorha-text-color);
}