@font-face {
    font-family: 'yorha-loader-font';
    src: url(~/assets/fonts/FOT-AnticCezannePro-DB-2.otf);
}

:root {
    --yorha-background: #d1cdb7;

    --yorha-strong: #454138;
    --yorha-medium: #dcd8c0;
    --yorha-weak: #bab5a1;
    --yorha-grid: #ccc8b1;
}

.layout.theme-yorha {
    @apply font-yorha-loader;
    color: var(--yorha-strong);
    background-color: var(--yorha-background);
}